#
# SPDX-License-Identifier: GPL-3.0-or-later

LABEL arch64
TEXT HELP
Run live OS from removable drive
ENDTEXT
MENU LABEL Run live OS
LINUX /%INSTALL_DIR%/boot/x86_64/vmlinuz-linux
INITRD /%INSTALL_DIR%/boot/intel-ucode.img,/%INSTALL_DIR%/boot/amd-ucode.img,/%INSTALL_DIR%/boot/x86_64/initramfs-linux.img cow_spacesize=1.5G
APPEND archisobasedir=%INSTALL_DIR% archisolabel=%ARCHISO_LABEL%
